[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "external/sanitizers-cmake"]
	path = external/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "external/parson"]
	path = external/parson
	url = git://github.com/kgabis/parson.git
